{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Bootstrap CSS Alert -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/analytics_style.css' %}" />

    <title>Resultats enquestes El Puig</title>
</head>

<body>
   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Resultats<br>El Puig</h3>
            </div>

            <div class="menu">
                <ul class="list-unstyled components">
                    <li>
                        <a href="/school_analytics"><b>Centre</b></a>
                    </li>
                    <li>
                        <a href="/counseling_analytics"><b>CF Tutoria</b></a>
                    </li>
                    <li>
                        <a href="/subject_analytics"><b>CF MP</b></a>
                    </li>
                    <li>
                        <a href="/adm_analytics"><b>Dept. Administració</b></a>
                    </li>
                    <li>
                        <a href="/inf_analytics"><b>Dept. Informàtica</b></a>
                    </li>
                </ul>
            </div>
            <div class="button button-link">
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="/" onclick="return false;" id="copyLink" class="logged_out"><b>Compartir tauler</b></a>
                    </li>
                </ul>
            </div>
            <div class="button">
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="/logged_out" class="logged_out"><b>Desconnectar sessió</b></a>
                    </li>
                </ul>
            </div>

            <img style="width: 70%; display: block; left: 0; right: 0; margin: auto; position: absolute; bottom: 3%;" src="{% static 'img/logo_white.png' %}" alt="logo_white">
        </nav>

        <!-- Page Content  -->
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        var copySharingLink = function() {
            var dashboardUrl = document.createElement("input");
            dashboardUrl.className = 'dashboardUrl'
            document.body.appendChild(dashboardUrl);
            dashboardUrl.value = document.getElementById("dashboard").src;
            dashboardUrl.select();
            document.execCommand("copy");
            document.body.removeChild(dashboardUrl);
        };
        document.getElementById('copyLink').addEventListener('click', function() {
        copySharingLink();
        });

        $(document).ready(function() {
            $("#warning-alert").hide();
            $("#copyLink").click(function showAlert() {
                $("#warning-alert").fadeTo(1500, 500).slideUp(500, function() {
                    $("#warning-alert").slideUp(500);
                });
            });
        });
    </script>
</body>
</html>