{% load socialaccount %}
{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>
<body>
  <div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-5 bg-grey p-3">
          <h1 style="text-align: center;">USUARI NO AUTORITZAT</h1>
          <p style="text-align: center;">Has iniciat sessió amb el compte {{ user_email }}.<br>Malauradament, no has estàs seleccionat per respondre aquesta enquesta.<br>Si penses que pot haver-hi algun error, si us plau, informa d'aquest problema al teu tutor/a.</p>
          <br>
          <p style="text-align: center;">La teva sessió ha sigut desconnectada, fes clic per iniciar sessió amb un altre compte.</p>
          <a href="{% provider_login_url 'google' %}" class="btn btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Nou inici de sessió</a>
        </div>
    </div>
  </div>
</body>
</html>
